<% include header %>

<h1>About Super Ultra Mart</h1>
<h2>When super met ultra</h2>
<p>
Super Ultra Mart was founded in 800 B.C. with 1 goal: sell quality goods at low prices. More than 2,000 years later we are still the lowest price shopping experience on the planet. Come on in to one of our zero-hundred stores near you to experience the experience for yourself.
</p>
<% include footer %>