<% include header %>

<table>
	<tr>
	<th>Brand</th>
	<th>Name</th>
	<th>Price</th>
	</tr>
	<% for (var i=0; rs.length > i; i++) { %>
	        <tr>
		<td><%= rs[i].Brand %></td>
		<td><%= rs[i].Name %></td>
		<td>$<%= rs[i].Price %></td>
		<td><a href="/item/?itemID=<%= rs[i].itemID %>">Find it!</a></td>
		</tr>
	<% } %>
</table>

<% include footer %>