<!DOCTYPE HTML>
<html>
	<head>
	  <title>Simple NodeJS Application</title>
	  <link href="/style.css" rel="stylesheet">
	</head>

	<body>

	<div id="container" >

	<div id="header">
	  <%= locals.settings.subtitle %></div>

	<div id="menu">
	  <b><u>Menu</b></u><br><br>
	  <a href="/">Home</a><br>
	  <a href="/employee/login">Employee Login</a><br>
	  <a href="/item/locate">Locate an Item</a><br>
	  <a href="/store/locate">Locate a Store</a><br>
	</div>


	   <div id="content">
