<% include header %>

<h1>Locate an Item</h1>
<form method = "POST" action="<%= action %>">
      <table id="itemLocate">
                <tr><td>Keyword:</td>
                        <td><input type="text" id="Key" name="Key" /></td>
                </tr>
        </table>
        <input type="submit">
</form>


<% include footer %>