<% include header %>

<h1>Locate a Store</h1>
<form method = "POST" action="<%= action %>">
      <table id="storeLocate">
                <tr><td>Zip Code:</td>
                        <td><input type="text id="Zip" name="Zip" /></td>
                </tr>
        </table>
        <input type="submit">
</form>


<% include footer %>